* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header .sound {
    margin-top: 5vh;
    height: 9vh;
    width: 5vw;
    box-shadow: 0 1vh #2ca8c7;
    background-color: #17c0eb;
    margin-left: 88vw;
}

header .fullscreen {
    margin-top: 5vh;
    height: 9vh;
    width: 5vw;
    box-shadow: 0 1vh #2ca8c7;
    background-color: #17c0eb;
    margin-left: 82vw;
}

header .fullscreen:active {
    box-shadow: 0 0.6vh #2ca8c7;
    transform: translateY(4px);
}

.sound:active {
    box-shadow: 0 0.6vh #2ca8c7;
    transform: translateY(4px);
}

header .cross {
    margin-top: 5vh;
    background-color: #17c0eb;
    margin-left: 94vw;
    height: 9vh;
    width: 5vw;
    box-shadow: 0 1vh #2ca8c7;
}

header .cross:active {
    box-shadow: 0 0.6vh #2ca8c7;
    transform: translateY(4px);
}

header button {
    outline: none;
    border: none;
    font-size: 6vh;
    position: absolute;
    color: #35405e;
    float: right;
    border-radius: 0.3vw;
}

body {
    background-image: url("img copy.jpeg");
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.box {
    margin: 5rem auto;
    width: 40rem;
    height: 11rem;
    background-image: linear-gradient(65deg, #091a46 50%, #182C61 50%);
    border: none;
    box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem grey;
    border-radius: 8px;
}

.box button {
    background-color: burlywood;
    height: 8rem;
    width: 8rem;
    border-radius: 50%;
    font-size: 4rem;
    margin-left: 7.5rem;
    margin-top: 3.5rem;
    outline: none;
}

.box button i {
    color: #fad6a5;
}

.box h2 {
    padding: 20px;
    position: absolute;
    color: whitesmoke;
}

.box span {
    top: 5rem;
    font-size: 5rem;
    position: absolute;
    left: 40rem;
    text-shadow: 3px 0px 5px rgb(24, 23, 23);
}

.left-img {
    width: 20rem;
    height: 10rem;
    padding-top: 2rem;
    padding-left: 1rem;
    float: left;
    position: relative;
}
.right-img {
    width: 20rem;
    position: relative;
    height: 10rem;
    padding-top: 2rem;
    padding-right: 1rem;
    /* left: 15rem; */
    float: right;
}
