* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.first div,
.first img {
    transition: all .5s ease-in-out
}

.first .rock {
    height: 92vh;
    width: 20vw;
    border: none;
    background-image: linear-gradient(-65deg, #d6e0a9 50%, #a1a880 50%);
    margin-top: 3vw;
    float: left;
    margin-right: 1vw;
    margin-left: 15vw;
}

.first p {
    text-align: center;
}

.first .rock p {
    transform: rotate(-360deg);
    transform: scale(0.5);
    font-size: 6vw;
    animation: scissors 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) backwards infinite alternate;
    color: #d6e0a9;
    text-shadow: 0 0.1em #707557, 0.05em -0.03em 0 #707557;
}

.first .paper {
    height: 92vh;
    width: 20vw;
    border: none;
    margin-top: 3vw;
    float: left;
    margin-right: 1vw;
    background-image: linear-gradient(-65deg, #247BA0 50%, #124f69 50%);
}

.first .paper p {
    transform: scale(0.9);
    color: #247BA0;
    font-size: 6vw;
    animation: paper 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) backwards infinite alternate;
    text-shadow: 0 0.1em #0c3547, 0.05em -0.03em 0 #124f69;
}

@keyframes paper {
    0% {
        transform: scale(1.1);
    }
    90%,
    100% {
        transform: scale(1) rotateZ(0deg);
    }
}

.first .scissors {
    height: 92vh;
    width: 20vw;
    border: none;
    background-color: #FF1654;
    margin-top: 3vw;
    float: left;
    margin-right: 1vw;
    background-image: linear-gradient(-65deg, #FF1654 50%, #c51947 50%);
}

.first .scissors p {
    color: #FF1654;
    transform: scale(0.9);
    padding-top: 3vh;
    font-size: 6.5vh;
    animation: scissors 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) backwards infinite alternate;
    text-shadow: 0 0.1em #861231, 0.05em -0.03em 0 #861231;
}

@keyframes scissors {
    0% {
        transform: scale(0.8);
    }
    90%,
    100% {
        transform: scale(0.9) rotateZ(2deg);
    }
}

.first button {
    outline: none;
    border: none;
    font-size: 6vh;
    position: absolute;
    color: #35405e;
    text-align: center;
    border-radius: 0.3vw
}

.first .sound {
    margin-top: 2vh;
    height: 10vh;
    width: 10vh;
    box-shadow: 0 1vh #e1b12c;
    background-color: #fbc531;
    margin-left: 92vw;
}

.first .info {
    margin-top: 2vh;
    background-color: #636e72;
    margin-left: 3vh;
    margin-right: 3vw;
    height: 10vh;
    width: 10vh;
    box-shadow: 0 1vh #2d3436;
    color: #2d3436;
}

.first .fullscreen {
    margin-top: 2vh;
    height: 10vh;
    width: 10vh;
    box-shadow: 0 1vh #2ca8c7;
    background-color: #17c0eb;
    margin-left: 85vw;
}

.first .fullscreen:active {
    box-shadow: 0 0.6vh #2ca8c7;
    transform: translateY(4px);
}

.first .play {
    margin-top: 44vh;
    margin-left: -11vw;
    height: 12vh;
    width: 12vh;
    color: rgb(64, 85, 22);
    background-color: yellowgreen;
    box-shadow: 0 1.5vh rgb(107, 145, 31);
}

.first .play:hover {
    background-color: rgb(167, 223, 57);
}

.first .play:active {
    background-color: yellowgreen;
    box-shadow: 0 0.8vh rgb(124, 167, 39);
    transform: translateY(4px);
}

.first .info:active {
    box-shadow: 0 0.6vh #2d3436;
    transform: translateY(4px);
}

.first .sound:active {
    box-shadow: 0 0.6vh #2ca8c7;
    transform: translateY(4px);
}

.first img {
    margin-top: -3.5vh
}

.first .hand-rock {
    margin-left: 2vw;
    height: 80vh;
    width: 15vw;
}

.first .hand-scissors {
    margin-left: 2vw;
    height: 80vh;
    width: 15vw;
    margin-top: .5vh
}

.first .hand-paper {
    margin-left: 2vw;
    height: 80vh;
    width: 15vw;
}