* {
    font-family: "Luckiest Guy", cursive;
}

.second .container {
    margin-top: 60vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.second .sec {
    width: 60vw;
    height: 35vh;
    background-color: whitesmoke;
    position: absolute;
    margin-bottom: 42vh;
    background-image: linear-gradient(130deg, #091a46 50%, #182c61 50%);
    border: none;
    border: 1.5vh solid white;
    box-shadow: 0.5vh 0.8vh 0.8vh 0.9vh rgb(167, 167, 167);
    border-radius: 10vh;
    /* margin-right: 8vw; */
}

.second .sec h2 {
    text-align: center;
    vertical-align: middle;
    line-height: 15vh;
    color: white;
    font-weight: bold;
    font-size: 8vh;
}

.second .box1 {
    width: 20vw;
    height: 11vh;
    background-color: yellowgreen;
    position: absolute;
    right: 20vw;
    top: 18vh;
    box-shadow: 0 1.5vh rgb(107, 145, 31);
    border-radius: 0.3vw;
    font-size: 8vh;
    line-height: 12vh;
    color: rgb(64, 85, 22);
}

.second .box1:active {
    background-color: yellowgreen;
    box-shadow: 0 0.8vh rgb(124, 167, 39);
    transform: translateY(4px);
}

.second .act {
    display: inline-block;
    text-align: center;
    justify-content: center;
    vertical-align: baseline;
    margin-left: 2.5vw;
}

.second .act1 {
    display: inline-block;
    text-align: center;
    justify-content: center;
    vertical-align: baseline;
}

.second .container1 {
    margin: 0 auto;
    position: absolute;
    z-index: 9;
    top: 25vh;
    width: 30vw;
    height: 64vh;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
    left: 35vw;
}

.second .container1 span:nth-child(1) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #C2185B, #E64A19);
    opacity: 0.9;
    border-radius: 48% 62% 63% 37%/ 41% 44% 56% 59%;
    transition: 0.5s;
    animation: animate 4s linear infinite;
}

.second .container1 :hover span:nth-child(1) {
    border: none;
}

.second .container1 span:nth-child(2) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #18FFFF, #009688);
    border-radius: 38% 62% 63% 37%/ 41% 44% 56% 59%;
    transition: 0.5s;
    animation: animate 6s linear infinite;
}

@keyframes animate {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.second .content {
    position: relative;
}

.second .content p {
    font-weight: 1000;
    font-size: 8vh;
}

.second .content button {
    font-size: 6.4;
    height: 8vh;
    width: 3.6vw;
    margin: 0.5em;
}